.friend_list{
    display:flex;
    justify-content: center;
}

.item{
    display: flex;
    margin-right: 10px;
}

.status{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.avatar{
    width: 60px;
    height: 80px;
}