.profile{
    margin-right: 25%;
    margin-left: 25%;  
}
.description{
    
    display: flex;
        flex-direction: column;
        align-items: center;

}

.stats{
display: flex;
justify-content: center;
}

.statsItem{
    margin-left:15px;
}